<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/lib/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/chatHandler.js" type="text/javascript"></script>
  <script src="/javascripts/doctorBot.js" type="text/javascript"></script>
  <script src="/javascripts/doctorBotData.js" type="text/javascript"></script>
</html>
