* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#title{
  margin: 7% 0;
}

#title h1{
  color: white;
}

#title h3{
  color: white;
}

legend{
  color: white;
}

input[type="text"],
textarea,
button[type="submit"] {
  font: 400 12px/16px Helvetica, Arial, sans-serif;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

input[type="text"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

textarea {
  height: 300px;
  max-width: 100%;
  resize: vertical;
  font-family: "Lucida Sans Typewriter";
  font-size: 12px;
  line-height: 170%;

}

button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: solid;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  display: inline;
}